<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DiplomaNet"
        tools:targetApi="31">
        <activity android:name="com.example.diplomanet.chatbot.ChatBot"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.diplomanet.First_page"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.example.diplomanet.chatroom.ChatRoom"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.example.diplomanet.syllabus.MEsyllabus"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.syllabus.CEsyllabus"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.syllabus.EJsyllabus"
            android:exported="false"
        <activity
            android:name="com.example.diplomanet.manual.CEmanual"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.manual.EJmanual"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.manual.COmanual"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.manual.IFmanual"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.qp.COquestionpaper"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.qp.IFquestionpaper"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.notes.EJnotes"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.notes.CEnotes"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.notes.MEnotes"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.notes.COnotes"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.notes.IFnotes"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.notes.notesviewpdf"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.notes.Notes"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.Compiler"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.Contactus"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.UserProfile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.syllabus.syllabusviewpdf"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.syllabus.Syllabus"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.AllCategories"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.ForgetPassword"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.qp.qpviewpdf"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.qp.QuestionPaper"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.manual.manualviewpdf"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.manual.Manual"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.diplomanet.Intro"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
